// Specific CSS for your home-page
.home-card{
  background-color: white;
  margin: 2em;
  border-radius: 5px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
  overflow: hidden;
  height: 400px;
}

.grid-wrapper{
  display:flex;
  overflow: scroll;
}

.card-body {
  padding: 1em;
}

.show_card{
  background-color: white;
  margin: 2em;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
}

.show_card_img {
  background-color: white;
  margin: 2em;
  border-radius: 5px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
  overflow: hidden;
}

.datos_in_photo{
  padding-right: 2em;
}

.mapa{
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
  border: 0;
  border-radius: 5px;
}

.link{
  text-decoration: none;
}

.tar{
  text-align: right;
}

.boton_card_home{
  margin: 0 auto;
  width: 100%;
}
